body {
    background-color: #1c1c1c;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.terminal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
}

.command {
    display: flex;
    align-items: center;
}

.user__info {
    display: inline-block;
    white-space: nowrap;
    margin-left: 6px;
}

.command__input {
    font-family: '得意黑', system-ui;
    color: #f1f1f1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.command__input::placeholder {
    color: #aaa;
}

.command__input:focus {
    outline: none;
}

.result {
    margin-left: 6px;
    white-space: pre;
}


a:link {
     color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}